.bg-dark {
    background-color: #552244!important;
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: wait;
    background-color: lavenderblush;
    color: #552244;
}

hr {
    border-width: 2px;
    border-color: #552244;
}

table {
    color: #552244!important;
}

.movie-section {
    color: #552244
}

.profile {
    flex-direction: column;
    margin: 100px 0px 100px 0px;
}

.profile-icon {
    text-decoration: none;
    font-size: larger;
    color: #552244!important;
    padding: 0px;
}

.ubuntu-font {
    font-family: 'Ubuntu', sans-serif;
}
